.purple {
	color: #b366ff;
	padding: inherit;
}

h1 {
	font-family: cursive;
	font-variant: small-caps;
	padding: 1rem;
}

p {
	font-family: monospace;
	font-size: larger;
	margin-left: 5rem;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}