.purple {
	color: #b366ff; /*70% #b366ff*/
	padding: inherit;
}

h1 {
	font-family: cursive;
	font-variant: small-caps;
}

h3 {
	font-family: cursive;
	font-variant: small-caps;
}

p {
	font-family: monospace;
	font-size: larger;
	margin-left: 5rem;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: nowrap; /* default wrap */
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  line-height: inherit;
  white-space: nowrap;
}

.center {
    margin: auto;
}

.email-form {
	padding: 1% 30%;
}

.page-footer {
  bottom: 0;
  width: 100%;
  height: 5rem;

  background-color: #666666;
  color: #fff;

  padding: 1.5% 5%;
  text-align: center;
}

.page-footer a {
    color: #fff;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2.5rem; /* default 5rem*/
    padding-left: 2.5rem; /* default 5rem*/
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}