.purple {
	color: #b366ff;
	padding: inherit;
}

h1 {
	font-family: cursive;
	font-variant: small-caps;
	padding: 1rem;
}

p {
	font-family: monospace;
	font-size: larger;
	margin-left: 5rem;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: nowrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  line-height: inherit;
  white-space: nowrap;
}