body {
	padding: 2rem;
}

.info {
	margin-left: 20rem;
}

h4 {
	padding: 0.3rem;
}

h5 {
	padding: 0.3rem;
}

img {
	padding: 1rem;
}

th{
  text-align: center;
  background-color: #e6e6e6;
}

th:nth-child(even) {
  background-color: #bfbfbf;
}

table {
	width: 100%;
	border-spacing: 5px;
	border-collapse: collapse;
}

footer {
  	text-align: center;
  	background-color: #f2f2f2;
}